// configuration
// this is javascript module, not JSON to allow comments
exports.config = {
  user_name: "laanayabdrzak",
  api_key:"ba636be90099ed1",
  account_or_organization:"aaa",
  repository:"RxConnectivityState",
  package_name:"rxconnectivitystate",
  version_name:"1.0.0",
  file_target_path:"" //#"0_1_0"
};
